{% extends 'front.html.twig' %}

{% block title %}
        {% trans with { '%type%' : type|trans } %}Filter by %type%{% endtrans %}
        -
        {% trans %}Website name{% endtrans %}
{% endblock %}
{% block header %}
    <h1 class="subtitle">{{ ('Filter by ' ~ type) | trans }}</h1>
{% endblock %}

{% block body %}

    {% if popular_tags is defined %}
    <h2>{{ ('Known ' ~ type ~ 's') | trans }}</h2>
        <ul class="tag_list {{ type!='instruments' ? 'thumblist' :'' }}">
            {% for data in popular_tags %}
            {% if data.tag.name is not null %}
            <li>
                <a class="{{ key == data.tag.name ? 'selected'}}" href="{{ path('by_' ~ type, { key: data.tag.name }) }}">
                    {% if data.tag.image is not empty and data.tag.getType != 'type'  %}
                        <div class="tag_image" style="--image:url({{ vich_uploader_asset(data.tag,'imageFile') }})"></div>
                    {% else %}
                    {% endif %}
                    <div class="tag_name btn {{ data.tag.getType }} ">{{ data.tag.name }} {{ data.tag.partituras is defined ? '(' ~ (data.tag.partituras|length) ~ ')' : '' }}</div>

                </a>
            {% endif %}
            {% endfor %}
        </ul>
    {% endif %}

        <h2>{% trans %}Izenaren arabera ordenatuta{% endtrans %}</h2>
    <ul class="tag_list {{ type!='instruments' ? 'smalllist' :'' }}">
        {% for item in tags %}
        {% if item.name is not null %}
        <li>
            <a class="{{ key == item.name ? 'selected'}}" href="{{ path('by_' ~ type, { key: item.name }) }}">
                {% if item.image is not empty and item.getType != 'type'  %}
                    <div class="tag_image" style="--image:url({{ vich_uploader_asset(item,'imageFile') }})"></div>
                {% else %}
                {% endif %}
                <div class="tag_name btn {{ item.getType }} ">{{ item.name }} {{ item.partituras is defined ? '(' ~ (item.partituras|length) ~ ')' : '' }}</div>

            </a>
        {% endif %}
        {% endfor %}
    </ul>
{% endblock %}

