{% extends 'front.html.twig' %}

{% block title %} {% trans %}New musicsheet title{% endtrans %} - {% trans %}Website name{% endtrans %}
{% endblock %}

{% block header %}
<h1 class="subtitle">{% trans %}New musicsheet{% endtrans %}</h1>
{% endblock %}

{% block body %}
<p class="intro_text">{% trans %}create musicsheet intro{% endtrans %}</p>
    <div class="centered_form">
        {{ form_start(form) }}
        <div class="form_content">
            <div class="form_partitura_container">
                <div class="form_partitura">
                    <label>{% trans %}Partitura{% endtrans %}</label>
                    {{ form_widget(form.partitura) }}
                </div>
            </div>
            {% if form.user is defined %}
            <div class="form_user_container">
                <p class="user_intro">{% trans %}User creation why{% endtrans %}
                <div class="form_user">
                    <label>{% trans %}New user creation{% endtrans %}</label>
                    {{ form_widget(form.user) }}
                    <p class="user_already">
                    {% trans with { '%url%' : path('app_login') }  %}already_user{% endtrans %}
                    </p>
                </div>
            </div>
            {% endif %}
            {{ form(form) }}
            <div class="form_buttons">
                <button class="btn">{% trans %}Save{% endtrans %}</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset("css/admin.css?" ~ asset_version)}}" />
<link href="{{ asset('css/select2.css?' ~ asset_version) }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/jquery.js?' ~ asset_version) }} " type="text/javascript"></script>
<script src="{{ asset('js/select2.js?' ~ asset_version) }} " type="text/javascript"></script>
<script type="text/javascript">
    $("#create_partitura_tags").select2();
</script>
{% endblock %}


