<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">

<channel>
    <title>{% trans %}Website name{% endtrans %}</title>
    <description>{% trans %}All the music sheets you are searching for{% endtrans %}</description>
    <link>https://www.partiturak.eus</link>
    <lastBuildDate>{{ "now"|date("D, d M Y h:i:s O") }}</lastBuildDate>
    <pubDate>{{ "now"|date("D, d M Y h:i:s O") }}</pubDate>

    {% for partitura in partituras %}
    <item>
        <title>{{ partitura.name }}</title>
        <description><![CDATA[{% trans with { '%partitura_name%' : partitura.name} %}Music sheet of %partitura_name% {% endtrans %}<br><br>
<img width="100%" style="max-width:1100px" loading="lazy" src="https://www.partiturak.eus{{ vich_uploader_asset(partitura,'musescoreFileFile')|replace({'.pdf':'-full.jpg'}) }}" alt="" />
]]>
</description>
        <link>https://www.partiturak.eus{{ path('front_partitura_show', { url: partitura.url}) }}</link>
        <guid isPermaLink="false">partitura-{{ partitura.id }}</guid>
        <pubDate>{{ partitura.getCreatedAt|date("D, d M Y h:i:s O") }}</pubDate>
    </item>
    {% endfor %}

</channel>
</rss>
