<form method="post" action="{{ path('mp3_delete', {'id': mp3.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ mp3.id) }}">
    <button class="btn">{% trans %}Delete{% endtrans %}</button>
</form>
