{% extends 'base.html.twig' %}

{% block title %}{% trans %}Upload new MP3{% endtrans %}{% endblock %}

{% block body %}
<div class="centered_form">
<h2 class="form_title">{% trans %}Upload new MP3{% endtrans %}</h2>

    {{ include('mp3/_form.html.twig') }}

</div>
{% endblock %}
