{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="subtitle">{%trans%}Create account{%endtrans%}</h1>


    <div class="welcome_message">
    {{ form_start(registrationForm) }}
        <p>{% trans %}Login.text{% endtrans %}</p>
        {{ form_row(registrationForm.name) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_errors(registrationForm) }}

        <button class="btn">{%trans%}Register{%endtrans%}</button>
    {{ form_end(registrationForm) }}
    </form>
{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset("css/admin.css? ~ asset_version")}}" />
{% endblock %}
