<h1>{% trans %}Website name{% endtrans %}</h1>

<p>{% trans %}To reset your password, please visit the following link{% endtrans %}</p>


<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>{% trans with { "%tokenLifetime%" : tokenLifetime|date('g') }  %}This link will expire in %tokenLifetime% hour(s).{% endtrans %}</p>

