{% extends 'base.html.twig' %}

{% block title %}{% trans %}Reset your password{% endtrans %}{% endblock %}

{% block body %}
<div class="welcome_message">
    <h1 class="subtitle">{% trans %}Reset your password{% endtrans %}</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">{% trans %}Reset password{% endtrans %}</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
