form
{
    padding:30px 0;
}
form label
{
    display:block;
    text-align:left;
    vertical-align:top;
    padding-bottom:5px;
}
.help-text
{
    color:#999;
}
.welcome_message form label
{
    width:90px;
}

form .multiple label
{
    width:100px;
}
form .multiple>div>label
{
    display:none;
}
form input[type="text"], form input[type="email"], form input[type="password"], form select, .vsb-main, form textarea,
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple
{
    display:inline-block;
    border:1px solid var(--color2);
    background:var(--color2);
    border-radius:2px;
    vertical-align:middle;
    width:100%;
    padding:0px 5px;
    box-sizing:border-box;
    line-height:40px;
}
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--multiple
{
    min-height:40px;
    line-height:25px;
}

.vich-file > div,
.vich-file a
{
    display:none;
}

.form_block div.vich-file
{
    background:var(--color2) url(../images/upload-share.svg) center center no-repeat;
    background-size: auto 30%;
    padding:0;
    aspect-ratio:1;
    width:100%;
    height:auto;
    padding:0;
    border-radius:100%;
    transition:all 0.5s ease 0s;
    &:has(.filled)
    {
        background-image:none;
    }
    &:hover
    {
        background-color:var(--color7);
    }
    input
    {
        cursor:pointer;
        height:100%;
        width:100%;
        margin:0;
        padding:0 5px;
        padding-top:calc(50% - 0.8em);
        opacity:0;
        &::file-selector-button
        {
            display:none;
        }
        &.filled
        {
            opacity:1;
        }
    }
}
.form_block .vich_filled div.vich-file
{
    background:var(--color2) url(../images/ok_black.svg) center center no-repeat;
    background-size: auto 50%;
}

form input[type="checkbox"]
{
    width:32px;
    height:32px;
    display:inline-block;
    margin-right:10px;
}
form[name="registration_form"],
form.login_form
{
    padding-top:0;
    text-align:center;
    background:var(--color7);
    max-width:800px;
    margin:0 auto 20px auto;
    padding:20px;
    >div:first-of-type
    {
        margin-top:30px;
    }
    >div
    {
        max-width:400px;
        margin:0 auto 20px auto;
    }
}
form[name="registration_form"] p
{
    padding-bottom:15px;
}
form[name="registration_form"] button
{
    margin-top:15px;
}
table,td,th,td
{
	border:1px solid black;
	border-collapse:collapse;
	padding:4px 6px;
}
.centered_form
{
    width:100%;
    text-align:center;
}
.centered_form .form_block
{
    margin:auto;
}
#create
{
}
.centered_form form>div:first-of-type
{
    display:inline-flex;
    flex-direction:column;
    align-items:center;
}
#partitura_user
{
    padding:10px;
    background:white;
}
.form_user_container,
.form_partitura_container
{
    width:100%;
    order:99;
}
.user_intro
{
    text-align:left;
    max-width:550px;
    margin:0 auto 10px auto;
}
.form_user,
.form_partitura,
.form_block
{
    margin-bottom:0px;
    background:white;
    max-width:100%;
    width:100%;
}
.form_user >div,
.form_partitura >div
{
    padding:20px;
}
.form_user>label,
.form_partitura>label,
.form_block>label
{
    display:block;
    width:100%;
    box-sizing:border-box;
    text-align:left;
    padding-left:12px;
    margin-bottom:20px;
    line-height:40px;
    color:white;
    background:var(--color3);
}
.form_block select
{
    padding:15px 5px;
}
.form_buttons
{
    order:100;
}
.intro_text
{
    max-width:500px;
    margin:auto;
    text-align:center;
}
.form_user>div,
.form_partitura>div,
.form_block>div
{
    box-sizing:border-box;
    background:white;
}
.multiple>div
{
    background:var(--list_border);
    margin:0px 0 0px 0;
    padding:0px 0 10px 0;
}


#create_partitura > div,
form > div > div
{
    margin-bottom:12px;
}
.user_already
{
    padding-top:20px;
    padding-bottom:20px;
    background:white;
}
.partitura_partiturapdfs-collection-actions
{
    padding-left:10px;
    padding-right:15px;
}
.partitura_cols
{
    margin-top:40px;
}
form h1.subtitle,
form h2.partitura_desc
{
    text-align:center;
    width:calc(100% - 40px);
    max-width:800px;
    padding:0;
    margin:5px auto;
    input
    {
        text-align:center;
        height:auto;
        line-height:auto;
        display:inline-block;
        background:transparent;
        width:100%;
        padding:5px 15px;
    }
}
.btn_delete_container
{
    text-align:center;
}

.partitura_iframe
{
    background:#555 !important;
    iframe
    {
        opacity:0.2;
        pointer-events:none;
    }
    .sf_collection_item
    {
        flex-direction:column;
        align-items:flex-start;
        &>div
        {
            flex-direction:column;
            align-items:flex-start;
        }
    }

}
.template_pdf
{
    display:none;
}
.list_pdfs
{
    position:absolute;
    top:50%;
    left:50%;
    transform:translateY(-50%) translateX(-50%);
    background:white;
    padding:30px;
    border:1px solid var(--color3);
    .hidden
    {
        display:none;
    }
    div.vich-file
    {
        width:60%;
        margin:20px auto 10px auto;
    }
}
.tags
{
    text-align:left;
    margin-bottom:10px;
    label
    {
        text-align:left;
    }
    .tags_name
    {
    }
}


.list_items
{
    padding:0 0px 20px 0px;
    .sf_collection_item>div:last-of-type
    {
        width:60px;
    }
}
.list_items-content
{
    padding:20px 0 0 40px;
    list-style:square outside;
}
.add_link
{
    padding-left:20px;
}
.form_title
{
    margin-top:40px;
    margin-bottom:20px;
}
.save_btn
{
    display:block;
    margin:auto;
}
.form_help
{
    padding:10px 0px;
}
div:has(>.sf_collection_item)
{
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:10px;
}
.sf_collection_item
{
    display:flex;
    width:100%;
    flex-direction:row;
    gap:10px;
    .vich-file
    {
        width:32px;
        input
        {
            border-radius:0;
        }
    }
    >div
    {
        display:flex;
        align-items:center;
        width:100%;
    }
}
table.partitura_list
{
    width:100%;
    max-width:1000px;
    margin:auto;
}
table.partitura_list th,
table.partitura_list td
{
    padding:10px 20px;
}
table.partitura_list th
{
    background:#333;
    color:white;
}
@media all and (max-width: 760px)
{
    table.partitura_list
    {
        table-layout:fixed;
        overflow:hidden;
        margin:20px 5px;
        width:calc(100% - 10px);
    }
    .audio_src 
    {
        margin-right:10px;
    }
    .audio_src audio
    {
        max-width:100%;
    }
    table.partitura_list td
    {
        padding: 7px 5px;
        overflow:hidden;
    }
    table.partitura_list a
    {
        padding:3px;
    }
    form input[type="text"], form input[type="email"], form input[type="file"], form input[type="password"], form select, .vsb-main, .vich-file, form textarea
    {
        height:3em;
        line-height:3em;
        width:100%;
        margin-top:0.5em;
    }
    .form_user >div,
    .form_partitura >div
    {
        padding:10px;
    }
    .centered_form
    {
        text-align:left;
    }
    form label
    {
        width:100%;
        text-align:left;
        margin-top:10px;
    }
    form input[type="checkbox"]
    {
        width:50px;
    }
    .partitura_right,
    .partitura_left
    {
        width:100%;
        margin:0;
        padding:0 20px;
        box-sizing:border-box;
    }
    .partitura_blocks
    {
        flex-direction:column;
        margin:0;
    }
    form
    {
        padding:10px 10px;
    }
    .partitura_left
    {
        order:2;
    }
    .partitura_right
    {
        order:1;
    }
}
.creditoUrl
{
    margin-bottom:15px;
}

p.main_pdf_desc
{
    text-align:center;
    font-size:15px;
    text-wrap:balance;
    max-width:600px;
    margin:25px auto 0 auto;
    padding:0 15px;
}
.partitura_tabs .form_block>div
{
    margin-bottom:15px;
}

.main_pdf
{
    text-align:center;
    margin:auto;
    height:150px;
    width:150px;
    .vich-file
    {
        border-radius:100%;
        input
        {
            opacity:0 !important;
        }
    }
    label
    {
        display:none;
    }
}
.select2-container--default .select2-selection--multiple .select2-selection__choice
{
    padding:2px 5px;
    margin:5px 3px;
    background: var(--color4);
    color: var(--color3);
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove
{
    bottom:0;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display
{
    padding-left:25px;
}

