dialog
{
    position:fixed;
    z-index:3;
    top:50%;
    left:50%;
    background:white;
    padding:0px;
    border:1px solid var(--color3);
    transform: translateX(-50%) translateY(-50%);
    cursor:pointer;
}
dialog.visible
{
    display:flex;
}
.dialog_content
{
    cursor:default;
    padding:50px;
    background:white;
}

dialog>*
{
    position:relative;
}
dialog:before
{
    content:'';
    position:absolute;
    top:-100vh;
    left:-100vw;
    width:200vw;
    height:200vh;
    background:rgba(0,0,0,0.6);

}

.dialog_close
{
    position:absolute;
    z-index:3;
    cursor:pointer;
    top:0px;
    right:0px;
    width:40px;
    height:40px;
    display:none;
    align-items:center;
    justify-content:center;
    display:flex;
}
.dialog_close:before,
.dialog_close:after
{
    position:absolute;
    top:50%;
    left:50%;
    display:block;
    content:'';
    width:15px;
    height:1px;
    background:black;
    transform:translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin:50% 50%;
}
.dialog_close:after
{
    transform:translateX(-50%) translateY(-50%) rotate(-45deg);
    transform-origin:50% 50%;
}

.dialog_title
{
    font-size:20px;
    padding-bottom:20px;
}
.dialog_content select
{
    width:100%;
    height:50px;
    line-height:50px;
    font-size:12px;
    padding:0px 10px;
}
.dialog_button
{
    margin-top:20px;
}
.listables
{
    line-height:37px;
    list-style:none;
}
.listables label
{
    display:flex;
    align-items:center;
}
.listables input
{
    display:inline-block;
    width:25px;
    height:25px;
    vertical-align:top;
    margin:0 10px 0 0;
}
