{% extends 'base.html.twig' %}

{% block title %}{% trans %}Create new musicsheet{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="subtitle">{% trans %}Create new musicsheet{% endtrans %}</h1>


     {% form_theme form 'partitura/jquery.collection.html.twig' %}
     <p class="main_pdf_desc">{% trans %}upload new musescoreFile{% endtrans %}
    <div class="form_block">
    {{ form(form) }}
    </div>

    <br>
    <br>
    <div class="form_buttons">
    <button class="btn save">{% trans %}Save{% endtrans %}</button>
    <a class="btn" href="{{ path('front_partitura')  }}">{% trans %}back{% endtrans %}</a>
    </div>

<link href="{{ asset('css/admin.css?' ~ asset_version) }}" rel="stylesheet" type="text/css">

<script type="text/javascript">
console.log('js ok');
document.getElementById("partitura_first_musescoreFileFile_file").onchange = function() {
        document.querySelector("form[name='partitura_first']").submit();
};
</script>


{% endblock %}

