{% extends 'base.html.twig' %}

{% block title %}{% trans %}My music sheets{% endtrans %}{% endblock %}

{% block body %}
<div class="frontend">


<h1 class="subtitle">{% trans %}My music sheets{% endtrans %}</h1>

<p class="intro_text">{% trans %}Partituras.welcome_text{% endtrans %}<br><br></p>

    <table class="table partitura_adminlist">
        <thead>
            <tr>
                <th>{% trans %}Musicsheet public visibility{% endtrans %}</th>
                <th>{% trans %}Musicsheet uploaded by{% endtrans %}</th>
                <th>{% trans with { '%views%': '' } %}%views% Views{% endtrans %}</th>
                <th>{% trans %}Musicsheet name{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for partitura in partituras %}
            <tr class="{{ partitura.visible ? 'visible':'not_visible' }}">
                <td>
                    <a href="{{ path('partitura_edit', { id: partitura.id }) }}">
                    {{ partitura.visible ? 'yes'|trans : 'no'|trans }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('partitura_edit', { id: partitura.id }) }}">
                        {{ partitura.user ? partitura.user.email : 'Admin' }}
                    </a>
                </td>
                <td>{{ partitura.views }}</td>
                <td>
                    <a href="{{ path('partitura_edit', { id: partitura.id }) }}">
                        {{ partitura.name }}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">-</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>

    <a class="btn" href="{{ path('front_partitura_create') }}">{% trans %}Upload new music sheet{% endtrans %}</a>
</div>
{% endblock %}
