{% extends 'base.html.twig' %}

{% block title %}{% trans %}Create new musicsheet{% endtrans %}{% endblock %}

{% block body %}
    <h1 class="subtitle">{% trans %}Create new musicsheet{% endtrans %}</h1>


     {% form_theme form 'partitura/jquery.collection.html.twig' %}
    {{ form_start(form) }}
    <div class="partitura_blocks">

        <div class="partitura_right">
            <div class="list_items form_block">
                <label>{% trans %}Specific PDF files{%endtrans %}</label>
                <p class="form_intro">{% trans %}Upload pdf intro{%endtrans %}</p>
            </div>

            <div class="list_items form_block">
                <label>{% trans %}Audio Items{%endtrans %}</label>
                <p class="form_intro">{% trans %}Upload audio intro{%endtrans %}</p>

                {{ form_widget(form.mp3s) }}

            </div>

        </div>

        <div class="partitura_left">
            <div class="form_block">
            <label>{% trans %}Partitura{% endtrans %}</label>
                {% if form.visible is defined %}
                {{ form_row(form.visible) }}
                {% endif %}
                {{ form_row(form.name) }}
                {{ form_row(form.text) }}
                {{ form_row(form.url) }}
                {{ form_row(form.musescoreFileFile) }}
                {{ form_widget(form.partiturapdfs) }}
            </div>

            <div class="form_block">
            <label>{% trans %}Tags{% endtrans %}</label>
                {{ form_row(form.authors) }}
                {{ form_row(form.types) }}
                {{ form_row(form.instruments) }}
                {{ form_row(form.origins) }}
            </div>

            <div class="form_block">
            <label>{% trans %}Extra{% endtrans %}</label>
                {{ form_row(form.creditoUrl) }}
                {{ form_row(form.validationComment) }}
            </div>

            <div class="form_buttons">
                <button class="btn save">{% trans %}Save{% endtrans %}</button>
                <a class="btn" href="{{ partitura.url ? path('front_partitura_show', { url: partitura.url }) : '' }}">{% trans %}back{% endtrans %}</a>
            </div>
        </div>


    </div>

    {{ form_end(form) }}
            {{ include('partitura/_delete_form.html.twig') }}



    <br>
    <br>

<link href="{{ asset('css/select2.css?' ~ asset_version) }}" rel="stylesheet" type="text/css">
<link href="{{ asset('css/admin.css?' ~ asset_version) }}" rel="stylesheet" type="text/css">
<script src="{{ asset('js/jquery.js?' ~ asset_version) }}" type="text/javascript"></script>
<script src="{{ asset('js/select2.js?' ~ asset_version) }}" type="text/javascript"></script>
<script type="text/javascript">
function formatTag (state) {
	if (!state.id) {
		return state.text;
	}

	var baseUrl = "{{ asset("public/images") }}";
    var item  = state.element;
    var className = item.getAttribute('data-type');
	var $state = $(
			'<span class="btn '+className+'">'+state.text+'</span>'
			);

	return $state;
};
    $("#partitura_authors, #partitura_types, #partitura_instruments, #partitura_origins").select2({
			templateSelection: formatTag,
            templateResult: formatTag,
    });
</script>

<script src="{{ asset('js/jquery.js?' ~ asset_version) }}"></script>
<script src="{{ asset('js/jquery.collection.js?' ~ asset_version) }}"></script>
<script type="text/javascript">
$('.multiple').collection({
    up: '',
    down: '',
    init_with_n_elements: 0,
    position_field_selector: '.my-position',
    add_at_the_end: true,
    add: '<button class="btn btn-add">{% trans %}Add{% endtrans %}</button>',
    remove: '<button class="btn btn-delete">{% trans %}Delete{% endtrans %}</button>'
});
</script>

{% endblock %}

