{% extends 'base.html.twig' %}

{% block title %}New Links{% endblock %}

{% block body %}
<div class="centered_form">
    <h2 class="subtitle">{% trans %}Create new Links{% endtrans %}</h2>

    {{ include('links/_form.html.twig') }}
    <a href="{{ path('partitura_edit', { id: link.partitura.id }) }}">{% trans %}back{% endtrans %}</a>
</div>

{% endblock %}
