{% extends 'base.html.twig' %}

{% block title %}Search{% endblock %}

{% block body %}
    <h1>Search</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ search.id }}</td>
            </tr>
            <tr>
                <th>Search</th>
                <td>{{ search.search }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ search.date ? search.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ search.ip }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('search_index') }}">back to list</a>

    <a href="{{ path('search_edit', {'id': search.id}) }}">edit</a>

    {{ include('search/_delete_form.html.twig') }}
{% endblock %}
