{% extends 'base.html.twig' %}

{% block title %}PartituraPdf{% endblock %}

{% block body %}
    <h1>PartituraPdf</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partitura_pdf.id }}</td>
            </tr>
            <tr>
                <th>Pdf</th>
                <td>{{ partitura_pdf.pdf }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('partitura_pdf_index') }}">back to list</a>

    <a href="{{ path('partitura_pdf_edit', {'id': partitura_pdf.id}) }}">edit</a>

    {{ include('partitura_pdf/_delete_form.html.twig') }}
{% endblock %}
