<form method="post" action="{{ path('tag_text_delete', {'id': tag_text.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag_text.id) }}">
    <button class="btn">Delete</button>
</form>
