{% extends 'base.html.twig' %}

{% block title %}Edit UserList{% endblock %}

{% block body %}
<div class="frontend">
    <h1 class="subtitle">{% trans %}Edit UserList{% endtrans %}</h1>

    {{ include('user_list/_form.html.twig', {'button_label': 'Save'|trans}) }}

    <a href="{{ path('app_user_list_public') }}">{% trans %}back{% endtrans %}</a>

    {{ include('user_list/_delete_form.html.twig') }}
</div>
{% endblock %}
