{% extends 'base.html.twig' %}

{% block title %}UserList{% endblock %}

{% block body %}
<div class="frontend">
    <h1 class="subtitle">{{ user_list.name }}</h1>

    {% if user_list.text is not empty %}
        <p class="welcome_message">{{ user_list.text|nl2br }}</p>
    {% endif %}
    <div class="list_download">
    <a href="{{ path('app_user_list_show', { name: user_list.name, user: user_list.user.id, download:1 }) }}">{% trans %}Download music sheets{% endtrans %}</a>

    </div>

    {% if is_granted('ROLE_ADMIN') or (user is defined and item.user == user)  %}
    <div class="list_add">
        <button class="btn btn_open">{% trans %}Add partitura to list{% endtrans %}</button>
        <button class="btn btn_close">{% trans %}Close{% endtrans %}</button>
        <div class="list_add_toggle">

            <p class="list_add_info">{% trans %}List add help info{% endtrans %}</p>

            {% include 'front_partitura/list.html.twig' with {
                partituras: [],
                hide_infos: true,
                hide_empty:true,
                avoid_empty: true,
                hide_image: false,
                custom_link: path('app_user_list_add', { list: user_list.id, partitura: '__id__'})
                } %}
        </div>
    </div>
    {% endif %}

    <div class="partitura_filters">
    {% if permission %}
        <p class="list_move_info">{% trans %}Move help info{% endtrans %}</p>
    {% endif %}
    {% include 'front_partitura/list.html.twig' with {
        filter_form: null,
        hide_infos: true,
        userList: user_list,
        partituras: user_list.partituras,
        user_favs: user_favs,
        remove_link: permission ? path('app_user_list_remove', { id: '__id__'}) : null,
        move_button: permission
        } %}
    </div>
</div>
{% endblock %}

{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset("css/list.css?" ~ asset_version)}}" />
{% endblock %}

{% block javascripts %}
<script>
    reorder_link= '{{ path('app_user_list_order', { list: user_list.id } ) }}';
</script>
<script src="{{ asset("js/sortable.min.js?" ~ asset_version)}}"></script>
<script src="{{ asset("js/userlist.js?x2" ~ asset_version)}}"></script>
{% endblock %}

