{% extends 'base.html.twig' %}

{% block title %}Instrumento index{% endblock %}

{% block body %}
    <h1 class="subtitle">Instrumento index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for instrumento in instrumentos %}
            <tr>
                <td>{{ instrumento.id }}</td>
                <td>{{ instrumento.name }}</td>
                <td>{{ instrumento.image }}</td>
                <td>
                    <a href="{{ path('instrumento_show', {'id': instrumento.id}) }}">show</a>
                    <a href="{{ path('instrumento_edit', {'id': instrumento.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('instrumento_new') }}">Create new</a>
{% endblock %}
