{% extends 'base.html.twig' %}

{% block title %}Edit Tag{% endblock %}

{% block body %}
    <h1 class="subtitle">Edit Tag</h1>

    {{ include('tag/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tag_index') }}">{% trans %}Go Back{% endtrans %}</a>

    {{ include('tag/_delete_form.html.twig') }}
    <div class="link_items">
         {% for text in tag.getTagTexts %}
             <div class="link_item">
                 <div class="link_item-content">
                     <p class="link_name">{{ text.locale }}  / <a href="{{ path('tag_text_edit', {'id': text.id}) }}">edit</a></p>
                </div>
            </div>
        {% endfor %}
        <p><a href="{{ path('tag_text_new', { id : tag.id }) }}">Create new link</a></p>
    </div>
{% endblock %}
